<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <!-- Add an image to the header -->
      <!-- <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">
	  <img src="/images/logo_no_background.png" alt="Your Logo" width="50" height="30">
      </a> -->
	  <!-- <h1 class="navbar-brand">Stochastic Hypersonics</h1> -->

	  <!-- <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}"> -->
		<!-- <img src="{{ site.url }}{{ site.baseurl }}/images/logo_no_background.png" width="50" height="30" class="d-inline-block align-top" alt=""> -->
        <!-- <img src="/images/logo_no_background.png" alt="Your Logo" class="header-logo"> -->
        <!-- <span class="header-text">Stochastic Hypersonics Research Group</span> -->
	  <!-- </a> -->
	  <!-- <h1 class="navbar-brand">Stochastic Hypersonics Research Group</h1> -->
	
    <!-- <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">Stochastic Hypersonics Research Group</a> -->
	</div>
	<style>
			.navbar-nav {
			  display: flex;
			  align-items: center;
			}

			.navbar-nav {
    			margin-right: auto;
  			}
	</style>

	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <!-- <ul class="nav navbar-nav navbar-left">
	  		<li><a href="{{ site.url }}{{ site.baseurl }}/"><img src="/images/logo_no_background.png" width="400" height="30"></a></li>
	  </ul> -->
	  <ul class="nav navbar-nav"> <!-- <ul class="nav navbar-nav navbar-right"></ul>-->
		<!-- <li><a href="{{ site.url }}{{ site.baseurl }}/"><img src="/images/logo_no_background.png" width="400" height="30"></a></li> -->
		<li><a href="{{ site.url }}{{ site.baseurl }}/"><img src="/images/logo_no_background.png" width="390" height="30"></a></li>
    	<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
    	<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
    	<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
    	<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
    	<li><a href="{{ site.url }}{{ site.baseurl }}/vacancies">Openings</a></li>
		<!-- <li><a href="{{ site.url }}{{ site.baseurl }}/pictures">(Pics)</a></li> -->
	  </ul>
	
	</div>

	<!-- <div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
			  <li><a href="{{ site.url }}{{ site.baseurl }}/"><img src="/images/logo_no_background.png" width="400" height="30"></a></li>
			</ul>
	</div> -->
  </div>
</div>
